<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FS1</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>
<body>

    <div class="header-img">
        <img src="~/Images/Top2000header-xs.png" />
    </div>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Logo clickable gemaakt inclusief navigatie naar homepage -->
                <a href="/"><img src="~/Images/top2000logoxs.png" class="img-logo" alt="HomePage"></a>
                



            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--Naam-Actie-Controller-->

                    <li>@Html.ActionLink("TOP 2000", "Yearlist", "Stats", new { area = "" }, new { @class = "navbar-brand" })</li>
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Statistieken<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Jaarlijst", "Yearlist", "Stats")</li>
                            <li>@Html.ActionLink("Artiesten", "Index", "Artiest")</li>
                            <li>@Html.ActionLink("Liedjes", "Index", "Song")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Team", "About", "Home")</li>
                    <li>@Html.ActionLink("Informatie", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
       
        <footer>
            <p>&copy; @DateTime.Now.Year - TOP 2000 Applicatie door FS1</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="/Scripts/site.js"></script><!--Hier staat ons eigen javascript-->
    @RenderSection("scripts", required: false)
</body>
</html>
